<div class="favorites">
    <h1>favorites</h1> 
 </div>
 <div *ngFor="let data of favPokemons">
     <div style="display: flex; flex-direction: column; align-items: center; text-align: center; margin-bottom: 20px ; ">
         <div
         style="position: relative; width: 150px; height: 150px; background-image: url({{data.sprites.front_default}}); background-position: center ; background-repeat: no-repeat; background-size: cover; ">
             <img src="assets/images/btn-delete.png" (click)="deleteFavComic()"
                 style="position: absolute; right: -15px; top: -15px; cursor: pointer;" >
         </div>
         <strong>{{data.name}}</strong>
         
     </div>
 </div>